.main-title{
    text-align: center;
    margin-bottom: -2vh;
    margin-top: -1vh;
}

.odd-row{
    background-color: #e6e6e6;
}

thead{
    font-size: 14pt;
}

.checkboxes-title{
    display: -webkit-flex;
    justify-content: center;

}

.checkboxes{
    display: -webkit-flex;
    justify-content: center;
    margin-bottom: 1vh;
}

table{
    border: 1px solid black;
    border-collapse: collapse;
    width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 1vh;
}

th, td{
    border: 1px solid black;
    border-collapse: collapse;
    min-width: 15vh;
    padding: 1vh;
}

.td-ab{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

thead{
    font-weight: bold;
    background-color: #9c9c9c;
}

.img-tag{
    margin-right: 1vh;
    cursor: pointer;
}
